.navbar-item{
    font-weight: 500;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(163, 204, 182); */
  } 
  
  /* a {
    display: inline-block;
    padding: 0.25em 0.5em;
    border: 1px solid #4ea0c7;
    border-radius: 8px;
    color: black;
    background: #6dc6f0;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
  }
   */
  h1 {
    margin: 1em 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 5rem;
  }
  
  h3 {
    margin-bottom: 1em;
    font-size: 2rem;
  }
  
  h6 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1rem;
  }
  
  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .box {
    margin: 1em;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  }
  .box.confirmed {
    background: #ffce63;
  }
  .box.recovered {
    background: #a2ff55;
  }
  .box.deaths {
    background: #ffa99a;
  }
  .box .value {
    display: block;
    text-align: center;
  }
  
  .countryList {
    text-align: center;
  }
  .countryList select {
    max-width: 90vw;
    font-size: 1.1rem;
  }
  .countryList option {
    word-wrap: break-word;
  }
  .countryList a {
    margin: 1em;
  }
  
  .countryDisplay {
    text-align: center;
  }
  .countryDisplay a {
    margin-bottom: 1em;
  }
  
  @media screen and (max-width: 1000px) {
    h1 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    .box {
      font-size: 1.33rem;
    }
  }
  .table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 2px;
    table-layout: fixed;
  }
  
  .td {
    border: 2px solid #ddd;
    font-size: medium;
    font-weight: 550;
    padding: 2px; 
     padding-top: 2px;
    padding-bottom: 2px; 
    padding:2px;
    text-align: center;
  }
  .th {
    border: 1px solid #ddd;
    padding: 2px;
  }
  
   .tr{
     background-color: #faf6f6;
  }
  
  .table .tr:hover {
    background-color: #ddd;
  }
  
  .th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    text-align: center;
    color: rgb(8, 7, 7);
    font-weight: 600;
    font-size: large;
  }

  